page-m2 {
	.align-content > *
	{
     	display: flex!important;
     	flex-wrap: wrap;
     	flex-direction: column;
     	justify-content: flex-start;
     	align-content: flex-start;
     	text-align: left!important;
	}

	ion-scroll {
		padding: 0px !important;
		white-space: nowrap;
		height: 100%;
	}

}